body {
    background: #cccccc;

}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none ;
}

 /* header*/

#header {
    background: lightblue;
    height: 190px;
    margin-bottom: 40px;
    padding: 30px 0;
    border: 1px solid black;

}

.timers {
    margin-bottom: 30px;
    color: blue;
    font-size: 16px;
}

.timers span {
    color: black;
}

.menu a {
    color: blue;
    font-size: 16px;
    text-decoration: underline;
}


.menu li:first-letter {
    text-transform: capitalize;
}

.menu span {
    color: red;
}

#logo h1 {
    margin-top: 0;
    color: green;
}

#nick {
    padding: 10px 0;
    background: yellow;
    font-size: 40px;
    text-transform: uppercase;
    color: #d9534f;
}

/*****      content      *********/
#content {
    margin-right: -30px;
}
/* usertab*/

#users, #usertab {
    border: 1px solid black;

}
#users {
    background: lightblue;

    padding:0 15px 10px;
}

#users h3 {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 12px;
}

#users h3 span {
    color: red;
}

#usertab {
    height: 500px;
    background: white;
    padding: 10px;
}
 .online, .offline {
     font-size: 16px;
     font-weight: bold;
 }

 .offline {
     color: orange;
 }

 /* chat box*/
#main {
    margin-top: -30px;
}

#chat {
    background: white;
    height: 300px;
    border:1px solid black;
    margin-bottom: 25px;
}

#tabs>ul {
    font-size: 0;
    vertical-align: bottom;
}
#tabs>ul>li {
    display: inline-block;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    border:1px solid black;
    border-bottom: none;
   }

.act {
    background: white;
    }

.noneact {
    background: lightblue;
}

.close {
    line-height: 0.9;
    margin-left: 10px;
}

.noneact span{
    color: red;
}
#chat {
    padding: 10px;
}

.message{
    font-size: 16px;
}

.chatname {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

#textarea {
    background: white;
    height: 215px;
    padding: 10px;
    font-size: 16px;
    border:1px solid black;
}
.param {
    margin-top: 10px;
}

.tools ul li {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 5px;
    background: lightblue;
    border: 1px  solid black;
    cursor: pointer;
}

.tools li.link {
   width:60px;
    margin-left: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.send span{
    margin-top: 15px;
    background: lightblue;
    border: 1px solid black;
}